.container{
   padding: 2rem; 
   background-color: #F5F6FC; 
}
.container_blog_about{
    padding: 4rem 2rem; 
    background-color: #F5F6FC; 
}
h2{
    font-size: 30px;
    color: #1D1F2A;
    font-weight: 400;
    margin: 0;
   }
   .post_container{   
        padding-bottom: 3rem;
       .post{
        h5{
            color: #1D1F2A;
            font-size: 24px;
            margin: 0;
            font-weight: 400;
        }
        div{
            margin: 2rem 0;
            height: 176px;  
        }
        small{
            margin: 0;
            color: #1D1F2A;
            opacity: 24%;
            font-size: 12px;
        }
        p{
            margin: 0;
            font-size: 16px;
            line-height: 21px;
            padding-top: 1rem;
            color: #1D1F2AB3;
        }
    }     
}
@media (min-width: 870px) {
    .container_blog_about{
        background-color: #F5F6FC;
    }
    .container{
        background-color: #FFFFFF;
        padding: 4rem 2rem; 
        h2{
            font-size: 44px;
           } 
    }
    .post_container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            width: auto;
            margin: 0 2rem;
        }
        p{
            width: 90%;
        }
    }
}
@media (min-width: 900px) {
    .container,.container_blog_about{
        padding: 6rem 4rem; 
    }
}
@media (min-width: 950px) {
    .container,.container_blog_about{
        padding: 6rem 6rem; 
    }
}
@media (min-width: 1100px) {
    .container,.container_blog_about{
        padding: 6rem 10rem; 
    }
}
@media (min-width: 1300px) {
    .container,.container_blog_about{
        padding: 6rem 15rem; 
    }
}
@media (min-width: 1600px) {
    .container,.container_blog_about{
        padding: 6rem 20rem; 
    }
}
@media (min-width: 1800px) {
      .container,.container_blog_about{
        padding: 6rem 25rem; 
    }
}
@media (min-width: 2000px) {
      .container,.container_blog_about{
        padding: 6rem 30rem; 
    }
}
@media (min-width: 2200px) {
      .container,.container_blog_about{
        padding: 6rem 35rem; 
    }
}
@media (min-width: 2400px) {
      .container,.container_blog_about{
        padding: 6rem 40rem; 
    }
}
@media (min-width: 2600px) {
      .container,.container_blog_about{
        padding: 6rem 50rem; 
    }
}
@media (min-width: 2800px) {
      .container,.container_blog_about{
        padding: 6rem 60rem; 
    }
}
@media (min-width: 3000px) {
      .container,.container_blog_about{
        padding: 6rem 65rem; 
    }
}
@media (min-width: 3200px) {
      .container,.container_blog_about{
        padding: 10rem 70rem; 
    }
}
@media (min-width: 3400px) {
      .container,.container_blog_about{
        padding: 10rem 75rem; 
    }
}
@media (min-width: 3600px) {
      .container,.container_blog_about{
        padding: 10rem 80rem; 
    }
}
@media (min-width: 3800px) {
      .container,.container_blog_about{
        padding: 10rem 85rem; 
    }
}
@media (min-width: 4000px) {
      .container,.container_blog_about{
        padding: 10rem 90rem; 
    }
}
@media (min-width: 4200px) {
      .container,.container_blog_about{
        padding: 10rem 95rem; 
    }
}
@media (min-width: 4400px) {
      .container,.container_blog_about{
        padding: 10rem 100rem; 
    }
}
@media (min-width: 4600px) {
      .container,.container_blog_about{
        padding: 10rem 110rem; 
    }
}
@media (min-width: 4800px) {
      .container,.container_blog_about{
        padding: 10rem 120rem; 
    }
}
@media (min-width: 5000px) {
      .container,.container_blog_about{
        padding: 10rem 125rem; 
    }
}