
.container{
        background-color: #F8F9FA;
    }
    
@media (max-width: 800px) {
        .container{
            padding: 4rem 2rem; 
            h3{
             font-size: 24px;
             color: #1D1F2A;
             font-weight: 400;
             margin: 0;
            }
            h5{
             padding: 1.5rem 0;
             font-size: 16px;
             line-height: 21px;
             color: #1D1F2AB3;
             font-weight: 400;
             margin: 0;
            }
            .form{
                .input{
                    width: 100%;
                    padding: .75rem 1rem;
                    margin-bottom: 1rem;
                    border: 1px solid #D1D1D1;
                    font-size: 16px;
                    color: #1D252D;
                    ::placeholder{
                     color: #1D252D;
                    }
                }
            } 
         }
         .hr{
            display: none;
        }
    }
@media (min-width: 870px) {
        .container{
            padding: 4rem 2rem; 
            padding-bottom: 0;
            background-color: #FFFFFF;
            h3{
                font-size: 24px;
                color: #1D1F2A;
                font-weight: 400;
                margin: 0;
               }
               h5{
                padding: 1.5rem 0;
                font-size: 16px;
                line-height: 21px;
                color: #1D1F2AB3;
                font-weight: 400;
                margin: 0;
               }
        }
        .form{
            .input{
                width: 48%;
                padding: .75rem 1rem;
                margin: .75rem .5rem;
                border: 1px solid #D1D1D1;
                font-size: 16px;
                color: #1D252D;
                ::placeholder{
                 color: #1D252D;
                }
            }
        } 
        button{
            margin-top: 2rem;
            margin-left: .2rem;
        }

        .hr{
            width: 100%;
            margin-top: 10vh !important;
            display: block; height: 1px;
            border: 0; border-top: .1px solid #0000001e;
            margin: 0; padding: 0;
        }
    }
    @media (min-width: 900px) {
        .container{
            padding: 6rem 4rem; 
            padding-bottom: 0;
        }
    }
    @media (min-width: 950px) {
        .container{
            padding: 6rem 6rem; 
            padding-bottom: 0;
        }
    }
    @media (min-width: 1100px) {
        .container{
            padding: 6rem 10rem; 
            padding-bottom: 0;
        }
    
    }
    @media (min-width: 1300px) {
        .container{
            padding: 6rem 15rem; 
            padding-bottom: 0;
        }
    }
    @media (min-width: 1600px) {
        .container{
            padding: 6rem 20rem; 
        }
    }