.fulhen_container{
    background-color: #F5F6FC;
    background-image: url('../images/map.png');
    background-size: 65%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    h1{
        font-size: 60px;
        color: #F5F6FC;
        -webkit-text-stroke: 2px #C4D8E7;
        font-weight: 700;
        margin: 0;
        padding: 2rem 3rem;
       }
    
    .container{
       padding: 2rem; 
       h2{
        font-size: 30px;
        color: #1D1F2A;
        font-weight: 400;
        margin: 0;
       }
       h5{
        padding: 1.5rem 0;
        font-size: 16px;
        font-weight: 400;
        color: #1D1F2A;
        margin: 0;
       }
    }
}
@media (min-width: 870px) {
   
    .fulhen_container{
        background-color: #F5F6FC;
        .img_bg_container{
            width: 100vw;
            background-color: #EFF0F8; 
            position: relative; 
            .img_desktop{
            max-width: 1360px;
            margin: 0 auto;  
        }
            .title_container{
                position: absolute;
                top: 15%;
                left: -30%;
                right: 0;
                bottom: 0;
                margin: 0;
                width: 50rem;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                h1{ 
                    font-size: 120px;
                    color: transparent;
                    -webkit-text-stroke: 3px #C4D8E7;
                    font-weight: 700;
                    padding: 2rem 3rem;
                   }
            }
        }
        .container{
            display: flex;
            background-color: #E6E7F4;
            justify-content: center;
            align-items: center;
            padding: 4rem 2rem; 
            div{
                width: 50%;
                div{
                    width: 100%; 
                }
                img{
                    width: 100%;
                }
            }
            .img_container{
                position: relative;
                .logo{
                    width: 20%;
                    position: absolute;
                    top: 10%;
                    left: 0;
                }
            }
           h2{
            font-size: 44px;
            line-height: 48px;
            color: #1D1F2A;
            font-weight: 400;
            margin: 0;
           }
           h5{
            padding: 1.5rem 0;
            font-size: 24px;
            line-height: 32px;
            width: 27rem;
            font-weight: 400;
            color: #1D1F2A;
            margin: 0;
           }
           p{
            padding: 1.5rem 0;
            font-size: 16px;
            line-height: 21px;
            width: 27rem;
            font-weight: 400;
            color: #1D1F2A;
            margin: 0;
           }
        }
    }
}
@media (min-width: 900px) {
    .fulhen_container{
         .container{
        padding: 4rem 4rem; 
        }   
    }
}
@media (min-width: 950px) {
    .fulhen_container{
    .container{
        padding: 4rem 6rem; 
        }
    }
}
@media (min-width: 1100px) {
    .fulhen_container{
    .container{
        padding: 4rem 10rem; 
        }   
    }    
}
@media (min-width: 1300px) {
    .fulhen_container{
    .container{
        padding: 4rem 15rem; 
        padding-bottom: 0;
        }
    }
}
@media (min-width: 1600px) {
    .fulhen_container{
    .container{
        padding: 4rem 20rem; 
        }
    }
}
@media (min-width: 1800px) {
    .fulhen_container{
        .fulhen_container{
        .container{
        padding: 6rem 25rem; 
    }
}
}
}
@media (min-width: 2000px) {
        .fulhen_container{
    .container{
        padding: 6rem 30rem; 
    }
}
}
@media (min-width: 2200px) {
        .fulhen_container{
    .container{
        padding: 6rem 35rem; 
    }
}
}
@media (min-width: 2400px) {
        .fulhen_container{
    .container{
        padding: 6rem 40rem; 
    }
}
}
@media (min-width: 2600px) {
        .fulhen_container{
    .container{
        padding: 6rem 50rem; 
    }
}
}
@media (min-width: 2800px) {
        .fulhen_container{
    .container{
        padding: 6rem 60rem; 
    }
}
}
@media (min-width: 3000px) {
        .fulhen_container{
    .container{
        padding: 6rem 65rem; 
    }
}
}
@media (min-width: 3200px) {
        .fulhen_container{
    .container{
        padding: 10rem 70rem; 
    }
}
}
@media (min-width: 3400px) {
        .fulhen_container{
    .container{
        padding: 10rem 75rem; 
    }
}
}
@media (min-width: 3600px) {
        .fulhen_container{
    .container{
        padding: 10rem 80rem; 
    }
}
}
@media (min-width: 3800px) {
        .fulhen_container{
    .container{
        padding: 10rem 85rem; 
    }
}
}
@media (min-width: 4000px) {
        .fulhen_container{
    .container{
        padding: 10rem 90rem; 
    }
}
}
@media (min-width: 4200px) {
        .fulhen_container{
    .container{
        padding: 10rem 95rem; 
    }
}
}
@media (min-width: 4400px) {
        .fulhen_container{
    .container{
        padding: 10rem 100rem; 
    }
}
}
@media (min-width: 4600px) {
        .fulhen_container{
    .container{
        padding: 10rem 110rem; 
    }
}
}
@media (min-width: 4800px) {
        .fulhen_container{
    .container{
        padding: 10rem 120rem; 
    }
}
}
@media (min-width: 5000px) {
        .fulhen_container{
    .container{
        padding: 10rem 125rem; 
        .flex_container{
            
        }
            justify-content:flex-start;
            div{
                max-width: 600px;
            }
    }
}
}