@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
html, body{
  background-color: transparent;
  margin: 0;
}
button{
  transition: all .4s ease-out;
  color: #1D1F2A;
  background-color: #FBD872;
  text-transform: uppercase;
  padding: .7rem;
  cursor: pointer;
  border: none;
  outline-color: #FBD872;
  &:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 25px 1px #69696950;
    -webkit-box-shadow: 0px 6px 25px 1px #69696950;
    -moz-box-shadow: 0px 6px 25px 1px #69696950;
  }
}
a{
  text-decoration: none;
  color: #1D1F2A;
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}
.website{
  overflow-x: hidden;
}
@media (min-width: 800px) {
  button{
    color: #1D1F2A;
    background-color: #FBD872;
    text-transform: uppercase;
    width: auto;
    padding: 1rem 1.2rem;
  }
}