.container{
  background-color: #F5F6FC;
  margin: 0 auto;
  padding: 2rem 1rem;
  .infography_container{
    background-color: #FFFFFF;
    top: 620px;
    left: 16px;
    width: auto;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #0000000D;
    opacity: 1;
  }
}
.infography_img_container{
  width: 100vw;
  background-color: white;
  .infography_img{
    padding: 2rem;
    max-width: 1360px;
    margin: 0 auto;
  }
}