.container{
    background-color: #1D1F2A;
}
.intro_container{
    padding: 2rem;
    h2{
    margin: 0;
      font-size: 30px;
      color: white;
      font-weight: 300;
      text-transform: uppercase;
    }
    h4{
    margin: 0;
    padding: 1rem 0;
      font-size: 18px;
      font-weight: 300;
      color: white;
    }
    .btn_container{
      width: auto;
      display: flex;
      justify-content: flex-start;
      div{
        margin-right: .7rem;
      }
    }
  }
  @media (min-width: 870px) {
    .container{
      display: flex;
      padding: 4rem 2rem; 
      padding-bottom: 0;
      justify-content: space-between;
      align-items: center;
      div{
        width: 50%;
        div{
            width: 100%;
        }
    }
      .intro_container{
        padding: 0;
        padding-right: 4rem;
        h2{
          font-size: 44px;
          line-height: 48px;
        }
        h4{
          font-size: 24px;
          line-height: 32px;
        }
        .btn_container{
          width: auto;
          display: flex;
          justify-content: flex-start;
          div{
            width: fit-content;
            margin-right: 1rem;
          }
        }
      }
    }
    
}
@media (min-width: 900px) {
  .container{
      padding: 6rem 4rem; 
      padding-bottom: 0;
  }
}
@media (min-width: 950px) {
  .container{
      padding: 6rem 6rem; 
      padding-bottom: 0;
  }
}
@media (min-width: 1100px) {
  .container{
      padding: 6rem 10rem; 
      padding-bottom: 0;
  }
  .text_container{
      padding-left: 6rem;
  }
}
@media (min-width: 1300px) {
  .container{
      padding: 6rem 15rem; 
      padding-bottom: 0;
  }
}
@media (min-width: 1600px) {
  .container{
      padding: 6rem 20rem; 
      padding-bottom: 0 !important;
  }
}
@media (min-width: 1800px) {
  .container{
      padding: 6rem 25rem; 
  }
}
@media (min-width: 2000px) {
  .container{
      padding: 6rem 30rem; 
  }
}
@media (min-width: 2200px) {
  .container{
      padding: 6rem 35rem; 
  }
}
@media (min-width: 2400px) {
  .container{
      padding: 6rem 40rem; 
  }
}
@media (min-width: 2600px) {
  .container{
      padding: 6rem 50rem; 
  }
}
@media (min-width: 2800px) {
  .container{
      padding: 6rem 60rem; 
  }
}
@media (min-width: 3000px) {
  .container{
      padding: 6rem 65rem; 
  }
}
@media (min-width: 3200px) {
  .container{
      padding: 10rem 70rem; 
  }
}
@media (min-width: 3400px) {
  .container{
      padding: 10rem 75rem; 
  }
}
@media (min-width: 3600px) {
  .container{
      padding: 10rem 80rem; 
  }
}
@media (min-width: 3800px) {
  .container{
      padding: 10rem 85rem; 
  }
}
@media (min-width: 4000px) {
  .container{
      padding: 10rem 90rem; 
  }
}
@media (min-width: 4200px) {
  .container{
      padding: 10rem 95rem; 
  }
}
@media (min-width: 4400px) {
  .container{
      padding: 10rem 100rem; 
  }
}
@media (min-width: 4600px) {
  .container{
      padding: 10rem 110rem; 
  }
}
@media (min-width: 4800px) {
  .container{
      padding: 10rem 120rem; 
  }
}
@media (min-width: 5000px) {
  .container{
      padding: 10rem 125rem; 
}
}