.translation_flex{
    display: flex;
    width: 125px;
    justify-content: space-between;
    .translation_item{
        color: #FBD872;
        font-size: 14px;
        transition: all .4s ease-out;
        padding: .3rem;
        width: 36px;
        height: 36px;
        text-align: center;
        border-radius: 50%;
        padding-top: .5rem;
        outline: none;
        &:hover{
            color: #FFFFFF;
    }
    .translation_item_active{
        color: #ffffff !important;
        font-size: 14px;
        border: 1px solid rgba(255, 255, 255, 0.637);
        transition: all .4s ease-out;
        padding: .3rem;
        width: 36px;
        height: 36px;
        text-align: center;
        border-radius: 50%;
        padding-top: .5rem;
}
}
}

@media (max-width:870px){
    .translation_flex{
        padding: 2rem 0;
    }
}