.container{
   padding: 2rem; 
   padding-top: 0;
   padding-bottom: 3rem;
   background-color: #F5F6FC;
   h2{
    font-size: 30px;
    color: #1D1F2A;
    font-weight: 400;
    margin: 0;
   }
   h5{
    padding: 1.5rem 0;
    font-size: 16px;
    font-weight: 400;
    color: #1D1F2A;
    margin: 0;
   }
   h4{
       font-size: 20px;
       margin: 0;
       color: #1D1F2A;
       font-weight: 500;
   }
   p{
    font-size: 14px;
    color: #1D1F2AB3;
    margin: 0;
    line-height: 20px;
   }
   .bullet_container{
       padding-top: 2rem;
   }
   .bullet{
    box-shadow: 0px 0px 30px #0000000D;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-bottom: 1.5rem;
    border-top: 2px solid #FBD872;
    padding: 1.5rem;
    height: auto;
    h5{
        color: #1D1F2A;
        font-size: 18px;
        font-weight: 700;
        padding: 1rem 0;
        padding-top: 1.5rem;
    }
    p{
        color: #1D1F2AB3;
        line-height: 18px;
        font-size: 14px;
    }
   }
   .icon{
       width: 2.4rem;
   }
   .button{
       display: flex;
       justify-content: center;
       align-items: center;
   }
}
@media (min-width: 870px) {
    .container{
        padding: 4rem 2rem; 
        background-image: url('../images/map.png');
        background-size: 65%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        h2{
         font-size: 44px;
        }
        h5{
        padding: 2rem 0 0 6rem;
         font-size: 24px;
         line-height: 32px;
         width: 80%;
        }
        h4{
            padding-top: 4rem;
            font-size: 24px;
        }
        .bullet_container{
            padding-top: 2rem;
        }
        .bullet{
         padding: 2.5rem;
         height: auto;
         width: auto;
         h5{
             color: #1D1F2A;
             font-size: 18px;
             line-height: 24px;
             font-weight: 700;
             padding: 1rem 0;
             padding-top: 1.5rem;
         }
         p{
             color: #1D1F2AB3;
             line-height: 21px;
             font-size: 16px;
         }
        }
        .icon{
            width: 2.4rem;
        }
        .img_btn{
            background-color: transparent;
        }
     }
}
@media (min-width: 900px) {
    .container{
        padding: 6rem 4rem; 
        padding-bottom: 0;
    }
}
@media (min-width: 950px) {
    .container{
        padding: 6rem 6rem; 
        padding-bottom: 0;
    }
}
@media (min-width: 1100px) {
    .container{
        padding: 6rem 10rem; 
    }
}
@media (min-width: 1300px) {
    .container{
        padding: 6rem 15rem; 
        padding-bottom: 0;
    }
}
@media (min-width: 1600px) {
    .container{
        padding: 6rem 20rem; 
    }
}