.contact_container{
    background-color: white;
    padding: 2rem; 
}
.img_container{
    padding-bottom: 2rem;
}
.input_about{
    width: 100%;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #D1D1D1;
    font-size: 16px;
    color: #1D252D;
}
.btn_container{
    padding: 1rem 2rem;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
}
.about_contact_btn{
    margin-right: 1rem;
}

@media (min-width: 870px) {
    .contact_container{
        padding: 2rem; 
    }
    .img_container{
        padding-bottom: 0;
    }
    .flex_form{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 0;
        padding-bottom: 6rem;  
    }
    .btn_container{
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }
    .about_contact_btn{
        margin-left: 1rem !important;
    }
    .input_about{
        width: 45%;
        padding: .75rem 1rem;
        margin: .75rem .5rem;
        border: 1px solid #D1D1D1;
        font-size: 16px;
        color: #1D252D;
    }
    .flex_form div {
        width: 50%;
    }
    .flex_form div div{
        width: 100%;
    }
}

@media (min-width: 900px) {
    .contact_container{
        padding: 4rem 4rem; 
    }
}
@media (min-width: 950px) {
    .contact_container{
        padding: 4rem 6rem; 
    }
}
@media (min-width: 1100px) {
    .contact_container{
        padding: 4rem 10rem; 
    }
}
@media (min-width: 1300px) {
    .contact_container{
        padding: 4rem 15rem; 
    }
}
@media (min-width: 1600px) {
    .contact_container{
        padding: 4rem 20rem; 
    }
}
@media (min-width: 1800px) {
    .contact_container{
        padding: 6rem 25rem; 
    }
}
@media (min-width: 2000px) {
    .contact_container{
        padding: 6rem 30rem; 
    }
}
@media (min-width: 2200px) {
    .contact_container{
        padding: 6rem 35rem; 
    }
}
@media (min-width: 2400px) {
    .contact_container{
        padding: 6rem 40rem; 
    }
}
@media (min-width: 2600px) {
    .contact_container{
        padding: 6rem 50rem; 
    }
}
@media (min-width: 2800px) {
    .contact_container{
        padding: 6rem 60rem; 
    }
}
@media (min-width: 3000px) {
    .contact_container{
        padding: 6rem 65rem; 
    }
}
@media (min-width: 3200px) {
    .contact_container{
        padding: 10rem 70rem; 
    }
}
@media (min-width: 3400px) {
    .contact_container{
        padding: 10rem 75rem; 
    }
}
@media (min-width: 3600px) {
    .contact_container{
        padding: 10rem 80rem; 
    }
}
@media (min-width: 3800px) {
    .contact_container{
        padding: 10rem 85rem; 
    }
}
@media (min-width: 4000px) {
    .contact_container{
        padding: 10rem 90rem; 
    }
}
@media (min-width: 4200px) {
    .contact_container{
        padding: 10rem 95rem; 
    }
}
@media (min-width: 4400px) {
    .contact_container{
        padding: 10rem 100rem; 
    }
}
@media (min-width: 4600px) {
    .contact_container{
        padding: 10rem 110rem; 
    }
}
@media (min-width: 4800px) {
    .contact_container{
        padding: 10rem 120rem; 
    }
}
@media (min-width: 5000px) {
    .contact_container{
        padding: 10rem 125rem; 
}
}