.bm-burger-button {
    padding-top: 1rem;
    position: relative;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
.hideBar{
    background-color: #1D1F2A;
    position: absolute;
    height: .5rem;
    top: 1;
    width: 1.6rem;
    z-index: 1100;
}
.logo-menu{
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  outline: none;
}
  .bm-burger-bars {
    background: #FBD872;
    border-radius: 2px;
    height: 2px !important;
  }
  .bm-burger-bars-hover {
    background: var(--btn-hover);
  }
  .bm-cross-button {
    position: absolute;
    top: 3rem !important;
    right: 2.5rem !important;
  }
  .bm-cross {
    background: #FBD872;
    border-radius: 2px;
    width: 20px !important;
    height: 2px !important;
  }
  #react-burger-cross-btn{
    top: -10px !important;
    left: 5px !important;
    width: 2rem !important;
    height: 2rem !important;
  }
  .bm-menu-wrap {
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    background:  #1D1F2A;
  }
  /* General sidebar styles */
  .bm-menu {
    display: flex;
    margin: 0 2.5rem;
    margin-top: 25vh;
    width: auto;
    height: fit-content !important;
  }
  /* Wrapper for item list */
  .bm-item-list {
    padding: 1rem 0;
  }
  hr{
    width: 18.2rem;
    display: block; height: 1px;
    border: 0; border-top: .1px solid #fed8802f;
    margin: 0; padding: 0;
  }
  .bm-item-list a{
    outline: none !important;
    outline-color: transparent;
    text-decoration: none;
    font-weight: 100;
    width: fit-content;
    color: #FED880 !important;
    font-size: 24px;
  }
  .anchor-div{
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
  }
  .button_burger{
    padding: 0;
    outline: none !important;
    outline-color: transparent;
    color: white !important;
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  /* follow and media  */
  .follow-container{
    position: absolute;
    width: 60vw;
    text-decoration: none;
    outline: 0 none;
    bottom: 10%;
  }
  .follow-container h3{
    color: white;
    padding-top: 1rem;
    margin: 0;
    font-size: 18px;
  }
  .media-list{
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    color: #FBD872;
    list-style-type: none;
  }
  .media-list li{
    padding: .3rem;
    width: 36px;
    height: 36px;
    text-align: center; 
  }
  .bm-overlay{
   display: none;
  }
