.container{
    background-color: #1D1F2A;
}
.intro_container{
    padding: 2rem;
    h2{
    margin: 0;
      font-size: 30px;
      color: white;
      font-weight: 300;
      text-transform: uppercase;
    }
    h4{
    margin: 0;
    padding: 1rem 0;
      font-size: 18px;
      font-weight: 300;
      color: white;
    }
    .btn_container{
      width: auto;
      display: flex;
      justify-content: flex-start;
      button{
        margin-right: .7rem;
      }
    }
  }

  @media (min-width: 700px) {
    .container{
      display: flex;
      padding: 4rem 8rem; 
      padding-bottom: 0;
      justify-content: space-between;
      align-items: flex-end;
      div{
        width: 50%;
      }
      img{
        min-width: 30rem;
      }
    }
    .intro_container{
    padding: 2rem;
    padding-bottom: 6rem;
   
      h2{
        font-size: 44px;
        width: 30vw;
        line-height: 48px;
      }
      h4{
        font-size: 24px;
        line-height: 32px;
      }
      .btn_container{
        width: auto;
        display: flex;
        justify-content: flex-start;
        button{
          margin-right: 1rem;
        }
      }
    }
}
@media (min-width: 1100px) {
  .container{
      padding: 6rem 8rem; 
      padding-bottom: 0;
  }
}
@media (min-width: 1600px) {
  .container{
      padding: 6rem 14rem; 
      padding-bottom: 0;
      .intro_container{
        padding: 2rem;
        padding-bottom: 8rem;
      }
  }
}